#home-page-banner {
    display: flex;
    height: 820px;
    justify-content: center;
    .container{
        justify-content: center;
        
}
}

.banner-img {
    width: 40%;  
    position:relative;

    img {
        position:absolute;
        left:-400px;
        top:-130px;
        z-index:-1;
 
    }

}

.banner-text {
    width:60%;
    color: map-get($basicColors, "fontDark");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

    h2 {
        display: flex;
        flex-direction: column;
        font-size: 2em;
        align-items: center;

        span {
            padding: 0.7rem;
        }

    }

    ul {
        display: flex;
        justify-content: space-around;

        li {


            width: 310px;
            height: 120px;
            border: 0.75px solid map-get($basicColors, "fontLight");
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2em;


            a {
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2em;
                font-weight: 200;
                padding: 13px 92px 13px 92px;
            }

            a:visited {
                color: map-get($basicColors, "fontDark");
                text-decoration: none;
            }

        }
    }
}