header {
    display: flex;
    justify-content: center;
    height: 110px;
    padding-bottom: 2em;

    .container {
        flex-direction: column;
        justify-content: flex-end;
        
        
    }

    a:visited {
        color: map-get($basicColors, "fontDark");
        text-decoration: none;
    }

}

.header-nav-list {
    font-size: 0.85em;
    display: flex;
    justify-content: flex-end;
    color: map-get($basicColors, "fontLight");
    padding-bottom: 10px;

    li {
        padding: 10px;
        border: solid 0.75px white;
    }

    a {
        padding: 5px;
        text-decoration: none;
    }

    li:hover {
        border: solid 0.75px map-get($basicColors, "appTheme");
    }

}


.header-menu-list {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
    color: map-get($basicColors, "fontDark");

    li {
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        border: solid 0.75px white;
    }

    a {
        padding: 5px;
        text-decoration: none;
    }

    li:hover {
        border: solid 0.75px map-get($basicColors, "fontDark");
    }



}