$basicColors: (
        bgGrey: #F0F1F1, /*tło aplikacji wyróżnione*/
        navigationBG: #5E5322, /*nawigacja*/
        appTheme: #FAD648, /*kolor żółty trmatyczny*/
        fontLight: #737373, /*tekst nieaktywny*/
        fontDark: #3C3C3C, /*tekst aktywny*/
);
